* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: #B8D8D8
}

h1 {
    color: #000;
    font-size: 42px;
    margin: 20px 0 10px 0;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    color: #4F6367;
    background-color: #EEF5DB;
    font-size: 3rem;
    border-radius: 1rem;
    border: none;
}

#reset-btn {
    background-color: #FE5F55;
    padding: 10px 15px;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 21px;
}

#new-btn {
    background-color: #FE5F55;
    padding: 10px 15px;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 31px;
}

#winner-text {
    font-size: 50px;
    color: #FA824C;
    margin: 10px 0;
    font-weight: bold;

}

.msg-container {
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hide {
    display: none;
}

.hidden {
    display: none;
}

@media only screen and (max-width:639px) {
    #winner-text {
        font-size: 30px!important;
    }
    #new-btn {
        font-size: 21px!important;
    }
}